  /* Empty. Add your own CSS if you like */

  .profile-pic-pos {
    background-position: center;
    border-radius: 50%;
    margin-left: 36%;
    width: 30%;
    padding-top: 5%;
  }

  span.side-menu-text {
    margin: auto;
    padding: 6%;
  }

  hr.tr-hr-mod {
    display: block;
    margin-top: -0.1em;
    margin-bottom: -0.3em;
    margin-left: 0%;
    margin-right: 0%;
    border-style: inset;
    border-width: 1px;
  }

  i.custom-icon {
    font-size: 200%;
    color: gray;
  }

  div.man-avatar, .man-img-circle {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 168px;
    position: inherit;
    width: 168px;
    left: 80px;
    background-image: url('../../img/def_profile_male.jpg')
  }

  .button.button-positive.activated {
    border-color: transparent;
    background-color: #1aad90;
    color: #fff;
  }

  .scroll {
    height: 100%;
  }

  .ngCloak {
    display: none;
  }

  input.date-picker {
    border: none;
  }

  i.icon.ion-location.from {
    color: green;
  }

  i.icon.ion-location.to {
    color: red;
  }

  .txt-btn {
    color: gray;
    background: transparent;
    border: none;
    outline: none;
  }

  input.search-text {
    width: calc(100% - 10px);
    height: 43px;
    font-size: 18px;
    height: 41px;
    padding-left: calc(100% - 369px);
  }

  .search-text {
    width: calc(100% - 10px);
    height: 43px;
    font-size: 19px;
    height: 41px;
    padding-left: calc(100% - 369px);
  }

  .bar .button.back-button, .bar button.back-button {
    font-size: 22px;
    padding-left: calc(100% - 369px);
  }

  .back-button {
    background-color: transparent;
    border: none;
    color: #16a085;
  }

  .ion-close {
    color: gray;
    background-color: transparent;
    border: none;
  }

  .gmnoprint {
    display: none;
  }

  .gm-style-cc {
    display: none;
  }

  .map-expand {
    width: 100%;
    height: 100%;
  }

  .map-collapse {
    height: 100px;
    transition: height 2s;
  }

  button.custom-check-icon {
    font-size: 64px;
    color: #1abb97;
    position: fixed;
    right: 15px;
    bottom: -285px;
    border: none;
    outline: none;
    background-color: transparent
  }

  .custom-delete-icon {
    font-size: 30px;
    color: #c31717;
    position: absolute;
    right: 4px;
    bottom: 0px;
    border: none;
    outline: none;
    background-color: transparent
  }

  .custom-add-icon {
    font-size: 64px;
    color: #1abb97;
    position: fixed;
    right: 15px;
    bottom: -580px;
    border: none;
    outline: none;
    background-color: transparent
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: 0px;
  }

  .platform-android .bar .title {
    font-size: 20px;
    line-height: 45px;
  }

  .assertive-900-bg, .assertive-900-bg.activated, .assertive-900-bg:active, .assertive-900-bg:hover, .assertive-900-border, .assertive-900-border.activated, .assertive-900-border:active, .assertive-900-border:hover, .bar .button-assertive-900, .bar .button-assertive-900.activated, .bar .button-assertive-900:active, .bar .button-assertive-900:hover, .bar-assertive-900, .bar-assertive-900.activated, .bar-assertive-900:active, .bar-assertive-900:hover, .button-assertive-900, .button-assertive-900.activated, .button-assertive-900:active, .button-assertive-900:hover, .button-bar-assertive-900, .button-bar-assertive-900.activated, .button-bar-assertive-900:active, .button-bar-assertive-900:hover, .header-assertive-900, .header-assertive-900.activated, .header-assertive-900:active, .header-assertive-900:hover {
    background-color: #16A085;
  }

  .bar .button-energized-900, .bar .button-energized-900.activated, .bar .button-energized-900:active, .bar .button-energized-900:hover, .bar-energized-900, .bar-energized-900.activated, .bar-energized-900:active, .bar-energized-900:hover, .button-bar-energized-900, .button-bar-energized-900.activated, .button-bar-energized-900:active, .button-bar-energized-900:hover, .button-energized-900, .button-energized-900.activated, .button-energized-900:active, .button-energized-900:hover, .energized-900-bg, .energized-900-bg.activated, .energized-900-bg:active, .energized-900-bg:hover, .energized-900-border, .energized-900-border.activated, .energized-900-border:active, .energized-900-border:hover, .header-energized-900, .header-energized-900.activated, .header-energized-900:active, .header-energized-900:hover {
    background-color: #16A085;
  }

  .bar.bar-positive {
    background-color: #16A085;
  }

  .bar.bar-assertive {
    background-color: #16A085;
  }

  .checkbox input:checked:before, .checkbox input:checked+.checkbox-icon:before {
    background: #16A085;
    border-color: #16A085;
  }

  .avatar, .item-avatar .avatar .img-circle {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    height: 168px;
    position: inherit;
    width: 168px;
    left: 80px;
  }

  .custom-delete-icon-pay {
    font-size: 30px;
    color: #c31717;
    position: absolute;
    right: 11px;
    border: none;
    outline: none;
    background-color: transparent
  }

  div.col.col-time {
    margin-right: -3.0em;
  }

  .col-address {
    margin-left: 5.8em;
    margin-right: -0.5em
  }

  .custom-trip {
    margin-top: -1.2em;
  }

  .custom-bus {
    margin-top: -2.1em;
  }

  .col-sold {
    margin-right: -21.5em;
  }

  .col-link {
    margin-right: -21.5em;
    margin-bottom: -12px;
    margin-top: 5px;
  }

  .list-edit {
    margin-top: -26px
  }

  .div-basic {
    margin-top: 20px;
    margin-bottom: -15px;
  }

  .bus-checkboxOne {
    float: right;
    /*margin-right: 157px*/
    margin-left: 36px;
  }

  .bus-checkboxTwo {
    float: right;
    margin-right: 36px
  }

  .div-otp {
    text-align: center;
  }

  hr.hr-modify {
    display: block;
    margin-top: -0.1em;
    margin-bottom: -0.3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  }

  .special-back {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    width: auto;
    height: auto;
    background-color: rgba(128, 128, 128, 0.35)
  }

  .manager-card {
    min-height: 120px;
    max-height: 130px;
    padding-left: 88px;
    background-color: white;
  }

  /*p.p-contact {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    margin-top: -0.1em;
    margin-bottom: -0.3em;
  }*/

  /*.p-party-name {
    font-family: 'Merriweather', serif;
    font-size: 19px;
    margin-top: -0.6em;
  }*/

  span.custom-row {
    margin-left: -10.0px;
    padding-right: -1.2px;
    margin-bottom: -0.6em;
  }

  .custom-row-last {
    margin-left: -10.0px;
    padding-right: -1.2px;
    margin-bottom: 0.4em;
  }

  .trip-name {
    font-family: 'Merriweather', serif;
    font-size: 19px;
    margin-top: -1.4em;
    margin-left: -0.6em;
    margin-right: -2.0em
  }

  .label-row {
    margin-left: -1.0px;
    padding-right: -1.2px;
    margin-bottom: -0.6em;
  }

  .col.col-time {
    margin-right: -6.0em;
  }

  .arrow-up {
    color: #0FE70F;
  }

  .arrow-down {
    color: #FF0000;
  }

  .trash {
    color: #cc4e4e;
    padding-left: 208px;
  }

  .trash:hover {
    color: #cc4e4e;
  }

  .error {
    color: #cc4e4e;
    padding-left: 15px;
  }

  .list.item.item-floating-label.has-error {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e42112
  }

  .p-sales {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    margin-top: -0.6em;
  }

  .p-payAc {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    margin-top: -0.6em;
  }

  .custom-row-pay {
    margin-left: -10.0px;
    margin-bottom: -0.6em;
    margin-top: -0.7em;
  }

  i.icon-published {
    font-size: 15px;
  }

  a.a-publish {
    text-decoration: none;
    font-size: 16px;
  }

  .a-publ {
    text-decoration: none;
    font-size: 16px;
    margin-left: 0.6em
  }

  .a-delete {
    text-decoration: none;
    color: #a90202;
    margin-left: 135px;
  }

  .a-cancel {
    text-decoration: none;
    color: #a90202;
    margin-left: 314px;
  }

  label.label-Mon {
    margin-left: 38px;
  }

  .label-Tue {
    margin-left: 10px;
  }

  .label-Wed {
    margin-left: 15px;
  }

  .label-Thu {
    margin-left: 10px;
  }

  .label-Fri {
    margin-left: 17px;
  }

  .label-Sat {
    margin-left: 22px;
  }

  .label-Sun {
    margin-left: 15px;
  }

  .label-Seat {
    margin-right: 20px;
  }

  .label-ac {
    margin-right: 42px;
  }

  .label-sleeper {
    margin-right: 20px;
  }

  .label-ntc {
    margin-right: 40px;
  }

  .div-checkboxOne {
    float: right;
    margin-left: -33px
  }

  .div-checkboxOneLast {
    float: right;
    margin-left: -33px;
    margin-bottom: 10px
  }

  /*.item {
    font-size: 14px;
    width: 102%;
  }*/

  input.input-style {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 50px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
  }

  /*  HIghlighting By Holding */

  .seat {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: border-color 1s;
  }

  .seat-highland {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
  }

  .birth {
    background-color: #16A085;
    width: 1px;
    height: 68px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: border-color 1s;
  }

  .birth-highlight {
    background-color: #16A085;
    width: 1px;
    height: 68px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    transition: border-color 1s;
  }

  .seat-box {
    background-color: white;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    transition: border-color 1s;
  }

  .seat-box-true {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    transition: border-color 1s;
  }

  .birth-box-top-true {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-top-color: #16A085;
    transition: border-color 1s;
  }

  .birth-box-down-true {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-bottom-color: #16A085;
    transition: border-color 1s;
  }

  .cabin {
    background-color: #16A085;
    width: 1px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-right: 140px;
    padding-bottom: 61px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    word-wrap: normal;
    transition: border-color 1s;
  }

  .cabin-highlight {
    background-color: #16A085;
    width: 1px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-right: 140px;
    padding-bottom: 61px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    word-wrap: normal;
    transition: border-color 1s;
  }

  .cabin-word {
    margin-top: 5.5%;
    margin-left: 12%;
    margin-bottom: 10px;
    color: white;
    cursor: default;
    position: absolute;
  }

  .d-seat {
    background-color: #16A085;
    width: 1px;
    margin-top: 0px;
    padding-right: 35px;
    padding-bottom: 31px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: border-color 1s;
  }

  .d-word {
    margin-top: 1.7%;
    margin-left: 3%;
    word-wrap: normal;
    position: absolute;
    color: white;
    cursor: default;
  }

  .d-word-input {
    margin-top: -2.3%;
    margin-left: -2%;
    word-wrap: normal;
    position: fixed;
    color: white;
    cursor: default;
  }

  .d-seat-highland {
    background-color: #16A085;
    width: 1px;
    margin-top: 0px;
    padding-right: 35px;
    padding-bottom: 31px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
  }

  .d-seat-box {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    transition: border-color 1s;
  }

  .col-cabin {
    margin-left: 2%
  }

  /* Cabin Layout Styles */

  .layout-cabin-upper-middle {
    background-color: #16A085;
    border-left-color: #16A085;
    border-bottom-color: #16A085;
    border-right-color: #16A085
  }

  .layout-cabin-lower-middle {
    background-color: #16A085;
    border-left-color: #16A085;
    border-top-color: #16A085;
    border-right-color: #16A085
  }

  .layout-cabin-upper-left-corner {
    border-bottom-color: #16A085;
    border-right-color: #16A085;
    background-color: #16A085;
  }

  .layout-cabin-lower-left-corner {
    background-color: #16A085;
    border-top-color: #16A085;
    border-right-color: #16A085;
  }

  .layout-cabin-upper-right-corner {
    border-left-color: #16A085;
    border-bottom-color: #16A085;
    background-color: #16A085;
  }

  .layout-cabin-lower-right-corner {
    background-color: #16A085;
    border-left-color: #16A085;
    border-top-color: #16A085;
  }

  .layout-cabin-word {
    position: absolute;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
  }

  /* Booking Layout Css */

  .seat-layout-white {
    background-color: white;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  .seat-layout-green {
    background-color: #16A085;
    width: 1px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  /* .small-hide{ */

  /* 		display: block; */

  /* 	} */

  /* @media (max-width:335px) { */

  /* 	.small-hide{ */

  /* 		display: none; */

  /* 	} */

  /* } */

  .seat-no-div {
    position: absolute;
    margin-top: -8px;
    margin-left: -4px;
    color: white;
    cursor: default;
    transition: position 1s;
  }

  .birth-no-div {
    margin-left: -3px;
    margin-top: 6px;
    color: white;
    position: absolute;
  }

  .button.button-positive {
    background-color: #16a085;
  }

  .button.button-positive.activate {
    border-color: #a2a2a2;
    background-color: #16a085;
  }
