<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button ng-click="goBack()">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button" ng-click="say(this.$parent)" ng-controller="ViewHomeCtrl" style="background-color:transparent; border:none; box-shadow:none;" ng-disabled="icon.disable">
              <i id="icon-extra" ng-class="icon.icon" ng-show="icon.show"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">
    <ion-content overflow-scroll="false">
      <!-- Did Some changes here 10/03/2017 -->
      <ul style="background-color: #16A085;" class="list animate-rip">
        <div class="profile-pic-pos"><img ng-src="{{profile}}" style="border-radius:50%;"></img></div>
        <div><h4 style="text-align: center; color: white;">Mohamed Sayyaff</h4></div>
        <div><h6 style="text-align: center; color: white;">Travel Name</h6></div>
        <div><h6 style="text-align: center; color: white;">sayyaff@ymail.com</h6></div>
      </ul>
      <ul class="list animate-rip" style="margin-top: -1.9em">
        <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
        <a href="#/event/home" class="item say" menu-close><i class="custom-icon ion-android-home"></i><span class="side-menu-text">Home</span></a>

      </ul>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
