<span class="error" ng-message="required">This field is required</span>
<span class="error" ng-message="minlength">This field is too short</span>
<span class="error" ng-message="maxlength">This field is too long</span>
<span class="error" ng-message="required">This field is required</span>
<span class="error" ng-message="email">This needs to be a valid email</span>
<span class="error" ng-message="number">This needs to be a numeric</span>
<!-- <span class="error" ng-message="name">Your name is required</span> -->
