<ion-view view-title="Home" class="temp">
<ion-content overflow-scroll="false">

	<div class="card">
          	 <img src="../img/man-with-a-megaphone-1467100811msv.jpg" class="hom-img">

    	 	 <div class="item item-text-wrap">
    	 	 <label>Add your buses and publish to let people know tickets are available</label> <br>
    	 	 </div>

    	 	 <a href="#/event/bus" class="hom-publ">Add Bus</a>
   	</div>

   	<div class="card">
          	 <img src="../img/businessman-598033_960_720.jpg" class="hom-img">

    	 	 <div class="item item-text-wrap">
    	 	 <label>Add your managers so that they can help you out with your work</label> <br>
    	 	 </div>

    	 	 <a href="#/event/manager/view" class="hom-publ">Add Manager</a>
   	</div>

   	<div class="card">
          	 <img src="../img/Insight_app_screenshot.png" class="hom-img">

    	 	 <div class="item item-text-wrap">
    	 	 <label>Insight helps you to view your performance and predict the future of your business</label> <br>
    	 	 </div>

    	 	 <a href="#/event/insight" class="hom-publ">View Insight</a>
   	</div>

   	<div class="card">
          	 <img src="../img/3rd_party.png" class="hom-img">

    	 	 <div class="item item-text-wrap">
    	 	 <label>Add 3rd parties to sell tickets for you. Make it a collaborative business</label> <br>
    	 	 </div>

    	 	 <a href="#/event/3rdParty" class="hom-publ">Add 3rd Party</a>
   	</div>

</ion-content>
</ion-view>
