@media screen and (min-width:328px) {
  img.hom-img {
    height: 170px;
    width: 100%
  }
  a.hom-publ {
    text-decoration: none;
    font-size: 16px;
    margin-left: 0.6em
  }
}

@media screen and (min-width:320px) and (max-width:337px) {
  img.hom-img {
    height: 150px;
    width: 100%
  }
  a.hom-publ {
    text-decoration: none;
    font-size: 15px;
    margin-left: 0.6em
  }
}
